*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
  }


#head{
    background-image: url('img_top.jpg');
    height: 600px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
ul {
    padding: 0;
    text-align: center;
  }
  ul li {
    display: inline-block;
    margin-right: 10px;
  }
  ul li img{
      width:120px;
  }
  hr{
      width:20%;
  }
  #head-01{
    text-align: center;
    color: white;
    background-color:rgb(21, 21, 37);
    opacity: 0.5;
    width: 800px;
    height: 250px;
    padding: 25px 50px 25px 50px;
    margin-top: 100px;
    margin-left: 220px;
    margin-right:220px;
  }
  #content{
      height: 714px;
      /* border: 1px solid black; */
  }
  #content-1{
      margin: 10px 250px 0px 220px;
      text-align: left;
      border-left: 2px solid grey;
  }
  #content-2{
    margin: 280px 220px 50px 220px;
    text-align: left;
    height: 350px;
  }

  #content-2_1{
    width:33%;
    height: 350px;
    float:left;
    background-image: url("side.jpeg");
  }
  
  #contact{
    background-image: url("contact.jpeg");
    height:600px;
    margin-top: -14px;
    overflow:hidden;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
  }

  .contact00{
    background-color:rgba(21, 21, 37,0.5);
    /* opacity: 0.5; */

    width: 800px;
    height: 440px;
    margin-left: 220px;
    margin-top: 50px;
    padding: 25px 50px 25px 50px;
  }

  .contact01{
    padding-top: 25px;
    width: 50%;
    float: left;
  }

  .contact02{
    width: 27%;
    float:left;
    position: absolute;
    z-index: 1;
    left: 674px;
    height: 570px;
    border-left: 2px solid grey;
    border-bottom: 2px solid grey;
    background: white;
    padding: 0px 10px 10px 0px;
  }

  .contact02 h1 {
    text-align: center;
    color: #08355e;
    padding: 12px 20px;
  }

  .contact02 input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

 .contact02 input[type=radio] {
  margin: 8px 20px;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
 }

 textarea {
  width: 90%;
  height: 80px;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  font-size: 12px;
  resize: none;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0px 140px;
  cursor: pointer;
}
  .contact02 p {
    margin: 10px 20px;
    font-size: 12px;
  }

  .contact01 p{
    font-size: small;
    color: white;
  }
  .contact01 h3{
    color: white;
  }
  #about{
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
  }
  .about01{
    width: 800px;
    height: 180px;
    margin-left: 220px;
    padding: 25px 50px 25px 50px;
  }
  .about01 h1{
    color:#08355e;
  }
  .about01 hr{
    color: teal;
    border: 2px solid;
  }
  .about02{
    width: 900px;
    height: 250px;
    margin-left: 220px;
    }
  .about_img{
    width:33%;
    float: left;
    height:200px;
  }
  .about_img img{
    width:250px;
    height: 200px;
    padding-left: 20px;
    border-radius: 50%;
  }
  .about_img h3{
    padding-top: 20px;
    text-align: center;
    color: #08355e;
  }
  .bottom{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    /* background-color: #08355e; */
  }

  .bottom_img{
    width: 100%;
    height: 80px;
  }
  .bottom_img img{
    width: 100%;
    height: 80px;
  }
  .bottom01{
    width: 100%;
    height: 220px;
    background-color: #08355e;
  }

  .bottom02{
    margin-left: 220px;
    height: 220px;
    width: 800px;
    padding: 25px 50px 25px 50px;
  }
  .bottom_content{
    float: left;
    width:33%;
    height: 195px;
    color: white;
  }
  .social_logo{
    margin-top: 30px;
    float: left;
    width: 32%;
    height: 20px;
  }
  .main_logo{
    margin-top: 20px;
    width: 260px;
    height: 75px;
    overflow: hidden;
  }
  .main_logo img{
    width:100%;
  }
  


